<div class="container">

<p id="notice"><%= notice %></p>

<p>
  <div class="name">
    <h1><%= @artist.name %></h1>
  </div>
</p>

<p>
  <%= image_tag(@artist.image.url, class: "artist-img") %>
</p>

<div class="name">
  <h2>Songs</h2>
</div>

<% @artist.songs.each do |song| %>
  <div class="name">
    <p>Name: <%= link_to song.name, song %><p>
    <p>Album: <%= song.album %>, <%= song.year %><p>
  </div>
  <div class="thumbnail">
    <%= image_tag(song.image.url) %>
  </div>
<%end%>

<%= link_to 'Edit Artist', edit_artist_path(@artist), class: "btn btn-default btn-lg" %> |
<%= link_to 'New Song', new_song_path, class: "btn btn-default btn-lg" %>
<br/>
<div class="name"><%= link_to 'Back', artists_path %></div>
</div>
